---
Language: Cpp
BasedOnStyle: LLVM

ColumnLimit: 80

IndentWidth: 2
ContinuationIndentWidth: 4
TabWidth: 2
UseTab: Never

AlwaysBreakAfterReturnType: AllDefinitions
BreakBeforeBraces: WebKit
AllowShortFunctionsOnASingleLine: None

DerivePointerAlignment: false
PointerAlignment: Right

IncludeBlocks: Preserve
SortIncludes: CaseSensitive
...
